<html>
  <head>
    <title>PUT Motorsport (4 Layer)</title>
  </head>
  <body>
    <h1>PUT Motorsport Template (4 Layer)</h1>
    <p>
      This template should be used as a base for all KiCad projects.
      <br />
      <br />
      It contains the following set of presets:<br />
      <ul>
        <li>PCB design rules conformant with the <a href="https://jlcpcb.com/capabilities/Capabilities">JLCPCB capabilities</a>,</li>
        <li>a custom sheet frame.</li>
      </ul>
    </p>
  </body>
</html>

